# Changes must also be made in the following files:
# ./environment.yml
# ./meta.yaml
# ./pyproject.toml
# ./setup.py

cheroot
colorama
Cython
flask
flask_restful
lucit-licensing-python>=1.8.2
psutil
PySocks
requests>=2.31.0
simplejson
orjson
unicorn-fy>=0.14.2
unicorn-binance-rest-api @ git+https://github.com/artmalini/unicorn-binance-rest-api.git@eb9a95d9a1cd91ed3a7cee6b9fd3e62f4ef7fafa
websocket-client
websockets==11.0.3
